.asset-items {
  padding: 25px;
  margin-top: 100px;
}

.asset-items td {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  text-align: left;
}

thead tr {
  margin-bottom: 15px;
}

tbody {

}

.search-bar-comp {

}

.search-bar {
  margin: 20px;
  margin-bottom: 50px;
  /*width: 75%;*/

}

nav {
  background-color: #81d4fa;
}

footer.page-footer {
  background-color: #81d4fa;
}
